<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
     
    <!-- Auto scan REST service -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>com.demo</param-value>
	</context-param>
     
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    
     
    <filter>
		<filter-name>RestEasy</filter-name>
		<filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RestEasy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
